{%extends 'base.html'%}
{%block body%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<script>
    $(document).ready(function(){
        $("#mewrite").fadeIn(1000);
        $("#about").fadeIn('slow');
    });
    
    
    </script>
    <div id="mewrite" style="color:white;font-size:30px">
        My name is Aman Dwivedi 
        
    </div>
    <div id="about" style="color:white;font-size:25px;margin-left:20px;">
        Tech Enthusiast...<br>
        Web Developer...<br>
        Competitive Programmer...<br>
        Born Gentleman...<br>
    </div>
    Yha page me kya dalu samsjh nahi aa rha batao yr.....
    </div>
  </div>
  






{%endblock body%}
